.main{
    text-align: center;
}
h1{
    font-size: 60px;
}
button{
    font-weight: 900;
    background-color: blue;
    color: white;
    border: blue solid 1px;
    width: 200px;
    height: 28px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px black; */
}
#result{
    font-size: 100px;
}
@media screen and (max-width:600px){
    .main{
        text-align: center;
        position: relative;
        margin-top: 100px;
    }
    h1{
        font-size: 25px;
    }
    button{
        font-weight: 900;
        background-color: blue;
        color: white;
        border: 1px solid blue;
        width: 130px;
        height: 27px;
        border-radius: 10px;
        margin-top:10px;
    }
    #result{
        font-size: 50px;
    }
}